.player-tab {
  background-color: var(--background-tabs);
  border-radius: 24px;
  padding: 24px 32px;

  display: flex;
  margin-bottom: 32px;
}

.player-tab-cell {
  color: var(--text-active);
  display: inline-block;
  width: 740px;
}

.player-tab-cell span {
  display: block;
  margin-bottom: 12px;
}

.player-tab-cell h1 {
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 4px;
}
.player-tab-cell h2 {
  padding-bottom: 16px;
}

.player-tab-cell p {
  line-height: 28px;
  font-size: 20px;
  font-weight: 300;
}

.player-tab-image img {
  border-radius: 50%;
  height: 264px;
  width: 264px;
  object-fit: cover;
  margin-bottom: 8px;
}
.player-tab-image .photo-cell-link {
  color: var(--text-inactive);
  font-size: 22px;
}
.player-tab-image .photo-cell-link:hover {
  color: var(--text-active);
}

.player-tab-cell .right-img {
  margin-left: 24px;
}
.player-tab-cell .left-img {
  margin-right: 24px;
}
