.trainer-page .summary-top {
  margin-top: 32px;
  display: flex;
}

.trainer-page #trainer-summary img {
  width: 300px;
  height: 300px;
  border-radius: 50%;

  margin-right: 72px;
  object-fit: cover;
}

.trainer-page #trainer-summary h1 {
  margin-top: 32px;
  font-size: 64px;
  color: var(--text-active);
}

.trainer-page #trainer-summary h3 {
  font-size: 32px;
  color: var(--text-active);
  margin-bottom: 56px;
}

.trainer-page #trainer-summary button {
  padding: 8px 24px;
  border-radius: 24px;
  border-style: solid;
  border-width: 4px;
  border-color: var(--cta);

  outline: none;
  font-size: 32px;
  font-weight: 700;

  transition: 0.2s;
}

.trainer-page #trainer-summary button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.trainer-page .primary-btn {
  margin-right: 48px;
  color: var(--text-active);
  background-color: var(--cta);
}
.trainer-page .secondary-btn {
  color: var(--cta);
  background-color: var(--text-active);
}

.trainer-page .trainer-simple-box {
  margin-top: 36px;
  padding: 24px;
  border-radius: 24px;
  color: var(--text-active);
  background-color: var(--background-tabs);
}
.trainer-page .trainer-summary-intro {
  font-size: 22px;
  color: var(--text-active);
  line-height: 28px;
}

.trainer-page .multiline-text {
  display: block;
  margin-bottom: 12px;
}
.trainer-page .trainer-summary-intro .multiline-text:last-of-type {
  margin-bottom: 0;
}

.trainer-page #class-details {
  margin-top: 32px;
  margin-bottom: 32px;
}
.trainer-page .summary-box {
  display: flex;
  justify-content: space-evenly;
}

.trainer-page #class-request {
  padding: 24px;
  background-color: var(--background-tabs);

  border-style: solid;
  border-width: 3px;
  border-color: var(--cta);
  border-radius: 24px;

  text-align: center;
  color: var(--text-active);

  margin-bottom: 64px;
}
.trainer-page #class-request h2 {
  font-size: 36px;
  margin-bottom: 16px;
}
.trainer-page #class-request h3 {
  font-size: 24px;
  font-weight: 400;

  margin-bottom: 32px;
}

.trainer-page #class-request input {
  border-radius: 24px;
  border-width: 0;
  outline: none;
  font-size: 24px;

  width: 500px;

  padding: 16px 6px 16px 24px;
  margin-bottom: 18px;
}
.trainer-page #class-request textarea {
  border-radius: 24px;
  border-width: 0;
  outline: none;
  font-size: 24px;

  width: 500px;
  height: 140px;

  padding: 16px 6px 16px 24px;
  margin-bottom: 18px;

  font-family: Arial;
  resize: none;
  line-height: 32px;
}

.trainer-page #class-request button {
  background-color: var(--cta);
  color: var(--text-active);
  font-weight: 700;
  font-size: 30px;

  margin-top: 18px;
  padding: 12px 24px;

  outline: none;
  border-width: 0;
  border-radius: 24px;

  transition: 0.2s;
}
.trainer-page #class-request button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.trainer-page #class-feedback {
  color: var(--text-active);
  font-size: 18px;
  margin-bottom: 64px;
}
.trainer-page #class-feedback h2 {
  margin-bottom: 36px;
}

.trainer-page #end-of-page-cta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
.trainer-page #end-of-page-cta .white-box {
  width: 476px;
  border-radius: 24px;
  padding: 40px 32px;
  text-align: center;
  background-color: var(--text-active);
}
.trainer-page #end-of-page-cta .white-box h2 {
  font-size: 32px;
}
.trainer-page #end-of-page-cta .white-box button {
  margin-top: 40px;
  font-size: 32px;
  font-weight: 700;
  padding: 12px 24px;
  border-width: 4px;
  border-color: var(--cta);
  border-radius: 24px;
  border-style: solid;
  outline: none;
  transition: 0.2s;
}
.trainer-page #end-of-page-cta .white-box button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.trainer-page #end-of-page-cta .white-box:first-of-type button {
  background-color: var(--cta);
  color: var(--text-active);
}
.trainer-page #end-of-page-cta .white-box:last-of-type button {
  color: var(--cta);
}
