.loading-page {
  padding-top: calc(50vh - 216px - 108px);
}

.loading-page .loader {
  width: 400px;
  height: 400px;

  margin: 0 auto;

  border: 32px solid var(--text-active);
  border-top: 32px solid var(--cta);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
