header {
  width: 100vw;
  min-width: 1100px;
}

.sp-header {
  background-color: var(--background-navbar);
}

.header-inside {
  width: 1100px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  align-items: center;
}

.header-inside p {
  display: inline-block;
}

.header-inside div p:last-of-type {
  margin-left: 16px;
}

.header-primary {
  font-family: "Rakkas", cursive;
  font-size: 36px;
  color: var(--text-active);
}

.header-secondary {
  font-size: 24px;
  color: var(--text-inactive);

  text-decoration: underline;
}

.header-inside .auth-greet {
  font-size: 28px;
  color: var(--text-active);
}
.header-inside .auth-greet p {
  margin-right: 18px;
}

.header-inside .dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 240px;
  right: 0;
  z-index: 10;
  background-color: var(--background-navbar);
  font-size: 24px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  color: var(--text-inactive);
}
.dropdown-item {
  padding: 12px 16px;
}

.dropdown .dropdown-content .dropdown-item:hover {
  background-color: var(--background-tabs);
  color: var(--text-active);
  cursor: pointer;
}
